.header--input {
  color: #ffffff;
  text-align: center;
}

.search_container--section {
  background-color: #00b39f;
  padding-top: 0;
}

.text-input--input[type="text"] {
  color: #ffffff;
  margin-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #00b39f;
  box-shadow: none;
  max-width: 100%;
}

::placeholder,
.text-input--input[type="text"]:focus::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.positioned--icon {
  position: relative;
  top: 2rem;
  display: inline;
  z-index: 1;
}

.positioned--icon .icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #ffffff;
  fill: currentColor;
}

button.random-query--button {
  font-size: 0.9rem;
  padding: 0;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 0;
  border-width: 0 0 1px 0;
  font-weight: 300;
  border-bottom-width: 1px;
}


button.random-query--button:hover,
button.random-query--button:focus {
  color: #003C32;
  border-color: #003C32;
}

button.white--button {
  color: #ffffff;
  border-color: #ffffff;
  font-size: 1.3125rem;
  font-weight: 300;
}

button.white--button:hover,
button.white--button:focus {
  opacity: 0.8;
}

._container-center {
  text-align: center;
}

._container-right {
  text-align: right;
}

.search_header-enter,
.search_button-enter {
  max-height: 0;
  overflow-y: hidden;
}

.search_header-enter.search_header-enter-active,
.search_button-enter.search_button-enter-active {
  max-height: 5rem;
  transition: max-height 500ms ease-in;
}

.search_header-leave,
.search_button-leave {
  max-height: 5rem;
}

.search_header-leave.search_header-leave-active,
.search_button-leave.search_button-leave-active {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 300ms ease-in;
}
