.header--input {
  color: #ffffff;
  text-align: center;
  margin-bottom: 2rem;
}

.clickable-tabs {
  width: 70rem;
}

.clickable-tab {
  color: #ffffff;
  border: 2px solid #f0f0f0;
  border-radius: 0.5rem;
  background-color: inherit;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 200;
  margin-top: -0.7rem;
  margin-left: 1rem;
  position: relative;
  left: -2.9rem;
  max-width: 11.6rem;
  text-align: left;
  vertical-align: middle;
  min-height: 9rem;
  line-height: 1.2rem;
}

.clickable-tab:hover {
  background-color: #41d6c3;
  border-color: #ffffff;
  color: #003c32;
}

.active_button {
  border-color: #ffffff;
  color: #ffffff;
  background-color: #008571;
  outline: 0;
}

.tab-panels {
  background-color: transparent;
  border: none;
}

.tab-panels--tab.base--a {
  color: #a7fae6;
  font-weight: 200;
  margin-right: 2rem;
  width: 7.3rem;
  border-bottom-width: 0.2rem;
  padding: 0.5rem 0rem;
}

.tab-panels--tab.base--a:hover {
  border-bottom-color: transparent;
}

.tab-panels--tab.active {
  color: #fff;
  border-bottom-color: #fff;
}

.tab-panels--tab.base--a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.tab-panels--tab-content {
  background: transparent;
  padding-bottom: 0;
  height: 12rem;
}

.container {
  max-width: 65rem;
}

.base--radio {
  border-left-color: transparent;
}

.base--radio:checked {
  border-left-color: #9855d4;
}

.base--radio::before {
  display: none;
}

.search_container--section {
  background-color: #00b39f;
  padding-top: 0;
  padding-bottom: 0;
}

.text-input {
  top: -2.5rem;
  left: -1rem;
  margin-top: 1rem;
  margin-bottom: 6.25rem;
  width: 45rem;
}

.text-input--input[type="text"] {
  color: #ffffff;
  margin-left: 2.5rem;
  padding-right: 2.5rem;
  background-color: #00b39f;
  box-shadow: none;
  max-width: 100%;
}

::placeholder,
.text-input--input[type="text"]:focus::placeholder {
  color: #ffffff;
  opacity: 0.5;
}

.positioned--icon {
  position: relative;
  display: inline;
  z-index: 1;
  top: 0.5rem;
  left: -1rem;
}

.positioned--icon .icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #ffffff;
  fill: currentColor;
  margin-top: 2rem;
}

button.white--button {
  color: #ffffff;
  border-color: #ffffff;
  font-size: 1.3125rem;
  font-weight: 300;
  bottom: 11.6rem;
  left: 45rem;
  position: relative;
}

button.white--button:hover,
button.white--button:focus {
  opacity: 0.8;
}

._container-center {
  text-align: center;
}

._container-right {
  text-align: right;
}

.container-large {
  padding-top: 1.7rem;
}

.search_header-enter,
.search_button-enter {
  max-height: 0;
  overflow-y: hidden;
}

.search_header-enter.search_header-enter-active,
.search_button-enter.search_button-enter-active {
  max-height: 5rem;
  transition: max-height 500ms ease-in;
}

.search_header-leave,
.search_button-leave {
  max-height: 5rem;
}

.search_header-leave.search_header-leave-active,
.search_button-leave.search_button-leave-active {
  max-height: 0;
  overflow-y: hidden;
  transition: max-height 300ms ease-in;
}
