body * + * {
  margin-top: 0;
  font-weight: 300;
}

.header {
  background-color: #003C32;
}

.header--wordmark-link,
.header--wordmark-svg,
.jumbotron--get-started-icon {
  color: #ffffff;
  fill: currentColor;
}

.jumbotron--get-started {
  padding-right: 1rem;
}

.jumbotron--description {
  font-weight: initial;
}

.base--h5 {
  font-weight: 400;
  margin: 1rem 0;
}

.base--a,
.base--a:visited {
  color: #00b39f;
  border-bottom-color: #00b39f;
}

.base--a:hover {
  color: #fff;
  border-bottom-color: #fff;
}
.base--a:active,
.base--a:focus {
  color: #00a894;
  border-bottom-color: #00a894;
}

a:hover,
a:active,
a:focus,
a:visited {
  color: #ffffff;
  border-bottom-color: #ffffff;
}

.header--breadcrumbs-slash,
.header--breadcrumbs-main,
.header--breadcrumbs-main:hover,
.header--breadcrumbs-main:focus,
.header--breadcrumbs-main:visited {
  color: #00b39f;
}

.header--breadcrumbs-sub {
  color: #c7c7c7;
}

.header--breadcrumbs-sub:hover,
.header--breadcrumbs-sub:active,
.header--breadcrumbs-sub:focus {
  color: #00b39f;
}

.base--button.base--button_fill,
.base--button.base--button_fill:visited,
.base--button.base--button_fill:hover,
.base--button.base--button_fill:active,
.base--button.base--button_fill:focus {
  background-color: #003C32;
  border-color: #003C32;
}

._full-width-row.jumbotron {
  color: #ffffff;
  background-color: #00b39f;
}

._full-width-row {
  padding-top: 3rem;
}

.description {
  margin-top: 1rem;
}

.license--section {
  text-align: center;
  padding: 1rem 0 0 0;
  background-color: #323232;
  color: #aeaeae;
}

.license--section a {
  font-weight: 300;
  border-bottom-width: 0.0625rem;
}

.base--h2,
.description,
.jumbotron--nav-link,
.jumbotron--nav-link:hover,
.jumbotron--nav-link:focus,
.jumbotron--nav-link:active,
.jumbotron--nav-link:visited {
  color: #ffffff;
  border-bottom-color: #ffffff;
}

.bottom-nav-bar--nav-link,
.bottom-nav-bar--nav-link:visited {
  color: #aeaeae;
  border-color: #aeaeae;
}

.
.bottom-nav-bar--nav-link:hover,
.bottom-nav-bar--nav-link:active,
.bottom-nav-bar--nav-link:focus {
  color: #00a894;
  border-color: #00a894;
}

.results-enter {
  opacity: 0.01;
}

.results-enter.results-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.results_row--section {
  background-color: #f9f9f9;
  box-shadow: inset 0 7px 9px -6px rgba(0,0,0,0.7);
}

button:active, .base--button:active {
  transform: none;
}
