.view_all_container--div {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f9f9f9;
  width: 30vw;
  padding: 1rem;
  box-shadow: -2px 0 1px 0 rgba(0,0,0,0.3);;
}

.view_all_questions_header--div {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.view_all_questions_description--h5 {
  padding: 1rem 0;
}

.view_all_questions_filter--div {
  position: relative;
}

.view_all_questions_filter--div input[type='text'] {
  background-color: #f9f9f9;
  box-shadow: none;
}

.view_all_questions_filter--div label {
  margin-right: 0;
}

.view_all_questions_filter--icon {
  position: absolute;
  right: 0;
}

.view_all_questions_list--div {
  overflow-y: auto;
  text-align: left;
  flex-grow: 1;
  margin-top: 1rem;
}

button.view_all_question--button,
button.close_view_all--button {
  font-weight: 500;
  font-size: 0.8rem;
  padding: 0;
  color: #00b39f;
  border: none;
  text-align:left;
}

button.view_all_question--button {
  margin: 0.5rem 0;
  width: 100%;
}

button.view_all_question--button:hover,
button.view_all_question--button:focus,
button.close_view_all--button:hover,
button.close_view_all--button:focus {
  text-decoration: underline;
}

.view_all_questions_no_results--span {
  font-weight: 500;
}
