.view_all_container--div {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #f9f9f9;
  width: 30vw;
  padding: 2rem;
  box-shadow: -2px 0 1px 0 rgba(0,0,0,0.3);
  z-index: 1;
}

.view_all_questions_header--div {
  display: flex;
  flex-shrink: 0;
  justify-content: space-between;
}

.view_all_questions_description--h5 {
  padding: 0.3rem 0 1rem 0;
  flex-shrink: 0;
  font-size: 0.9rem;
  color: #5a5a5a;
}

.view_all_questions_filter--div {
  position: relative;
}

.view_all_questions_filter--div input[type='text'] {
  background-color: #f9f9f9;
  box-shadow: none;
  margin-left: 1.5rem;
}

.view_all_questions_filter--div label {
  margin-right: 0;
}

.view_all_questions_filter--icon {
  position: absolute;
  left: 0;
  top: 0.5rem;
}

.view_all_questions_filter--icon svg {
  color: #323232;
  fill: currentColor;
}

.view_all_questions_list--div {
  overflow-y: auto;
  text-align: center;
  flex-grow: 1;
  margin-top: 0.5rem;
  padding: 0;
}

.close_view_all--button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.close_view_all--button svg{
  color: #959595;
  fill: currentColor;
}

.close_view_all--button:hover svg,
.close_view_all--button:focus svg{
  color: #777677;
}

button.view_all_question--button,
button.close_view_all--button {
  padding: 0;
  border: none;
}

button.view_all_question--button {
  margin: 0.5rem 0;
  width: 100%;
  font-weight: 500;
  font-size: 0.8rem;
  color: #008571;
  text-align: left;
}

button.view_all_question--button:hover,
button.view_all_question--button:focus,
button.close_view_all--button:hover,
button.close_view_all--button:focus {
  text-decoration: underline;
}

.view_all_questions_no_results--span {
  color: #777677;
  font-size: 0.8rem;
}
