
.results_container--div {
  display: flex;
}

.results_comparison-enter {
  opacity: 0.01;
}

.results_comparison-enter.results_comparison-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.results_comparison--div:first-child {
  padding-top: 1.5rem;
}

.results_comparison_content--div {
  display: flex;
}

.results_comparison_content_left--div {
  width: 50%;
  padding-right: 1rem;
}

.results_comparison_content_right--div {
  width: 50%;
  border-left: 1px solid #e0e0e0;
  padding-left: 1rem;
}

.show_results--div {
  margin-top: 2rem;
}

.result_box--div {
  flex-basis: 0;
  flex-grow: 1;
  padding: 1.5rem;
  margin: 1rem 0;
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
}

.result_box_empty--div {
  border: none;
  background-color: #f9f9f9;
}

.result_box_text--div {
  font-weight: 300;
  font-size: 0.9rem;
  position: relative;
  padding: 0 1rem;
}

.result_box_text--div b,
.result_box_text--div b > span {
  font-weight: 500;
}

.passage_rank--span {
  border-radius: 50%;
  border: 1px solid black;
  position: absolute;
  left: -1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}

.passage_rank--span:hover {
  color: #ffffff;
  border-color: transparent;
  background-color: #008571;
}

.passage_rank--span:hover + b {
  color: #008571;
}
