
.results_container--div {
  display: flex;
}

.results_comparison-enter {
  opacity: 0.01;
}

.results_comparison-enter.results_comparison-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.results_comparison--div:first-child {
  padding-top: 1rem;
}

.results_comparison_content--div {
  display: flex;
}

.results_comparison_content_left--div {
  width: 50%;
  padding-right: 1rem;
}

.results_comparison_content_right--div {
  width: 50%;
  border-left: 1px solid #e0e0e0;
  padding-left: 1rem;
}

.show_results--div {
  margin-top: 2rem;
}

.result_box--div {
  flex-basis: 0;
  flex-grow: 1;
  padding: 1.5rem;
  margin: 1rem 0;
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
}

.result_box_empty--div {
  border: none;
  background-color: #f9f9f9;
}

.result_box_items--div {
  display: flex;
}

.result_box_item_left--div {
  font-weight: 500;
}

.result_box_item_right--div {
  padding-left: 1rem;
}

.result_box_text--div {
  font-weight: 300;
}

.result_box_toggle--div {
  padding-top: 0.25rem;
}

.result_box_toggle--div button{
  font-size: 0.9rem;
  padding: 0;
  color: #00b39f;
  border-color: #00b39f;
  border-radius: 0;
  border-width: 0;
  font-weight: 300;
}

.result_box_toggle--div button:hover,
.result_box_toggle--div button:focus {
  border-bottom-width: 1px;
}
